.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
 
  #formsect{
    padding: 30px 0;
  }
#sponrsered{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* #sponrsered .row{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
} */
#sponrsered .row .card{
  padding: 0 6px;
}
#sponrsered .row .card img{
  cursor: pointer;
}
#mainsection{
 margin: 10px 15px;

}
footer{
  color: aliceblue;
}
footer a{
  color: aliceblue;
}
footer a:hover{
  text-decoration: none;
}